@mixin size($width: 0, $height: 0) {
	width: $width;
	height: $height;
}

@mixin transform-style($origin) {
  -webkit-transform-style: $origin;
  		  transform-style: $origin;
}

@mixin transform($origin) {
	-webkit-transform: $origin;
  		    transform: $origin;
}
